.mainParent{
    display: flex;
}
.left{
    flex: 8;
    margin-right: 10px;
    /* display: grid;
    grid-template-columns: repeat(2,1fr); */

}
.right  {
    flex: 4;
}

@media screen and (max-width:668px) {
    .mainParent{
        display: block;
    }
    .left{
        flex: 8;
        /* display: grid;
        grid-template-columns: repeat(1,1fr);
        margin: 0px auto; */
    
    }
    
}